.licencePlate {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  border: 1px solid black;
  border-radius: 0.25rem;

  .marker {
    background: #0000ff;
    width: 10%;
    height: 100%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .registration {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
  }
}
